{
  "Production": {
		"API_URL": "https://sms.instructure.com/api/v1/",
    "API_KEY": "0000~abcdefghijklomnopqrstuvwxyzabcdefghijklomnopqrstuvwxyz0123456789"
  },
  "Test": {
		"API_URL": "https://sms.test.instructure.com/api/v1/",
    "API_KEY": "0000~abcdefghijklomnopqrstuvwxyzabcdefghijklomnopqrstuvwxyz0123456789"
  },
  "Beta": {
		"API_URL": "https://sms.beta.instructure.com/api/v1/",
    "API_KEY": "0000~abcdefghijklomnopqrstuvwxyzabcdefghijklomnopqrstuvwxyz0123456789"
  }
}